.previews {
	width: 100%;
	text-align: center;
}
.image-preview {
	min-height: 100px;
	height: auto;
	width: 39%;
	display: inline-block;
	background: darkgrey;
	text-align: center;
}
.image-preview.left {
	margin-right: 40px;
}
.image-preview img {
	height: auto;
	width: 100%;
}

input#email,
input#name {
	font-size: 32px;
	line-height: 48px;
	height: 48px;
	width: 45%;
	background: #ddeeff;
	display: inline-block;
}
input#name {
	margin-right: 22px;
}

label.dontemail {
	font-weight: normal;
	float: right;
	color: darkgrey;
}

input#submit {
	font-size: 28px;
}

.thumbs .thumb {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: auto;
    margin-right: 3px;
}