.previews {
	width: 100%;
	text-align: center;
}
.image-preview {
	min-height: 100px;
	height: auto;
	width: 42%;
	display: inline-block;
	background: darkgrey;
	text-align: center;
}
.image-preview.left {
	margin-right: 40px;
}
.image-preview img {
	height: auto;
	width: 100%;
}

input#email {
	font-size: 26px;
	line-height: 48px;
	height: 48px;
	background: #ddeeff;
}

label.dontemail {
	font-weight: normal;
	float: right;
	color: darkgrey;
}

input#submit {
	font-size: 28px;
}